.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 12vh;
    padding: 0px 100px;
}

.logo {
    height: 12vh;
}

.logo img {
    height: 100%;
}

.nav-links ul {
    display: flex;
    list-style: none;
    line-height: 12vh;
    gap: 2vw;
}

.nav-links a {
    text-decoration: none;
    color: #C0C0C0;
    transition: all 0.2s;
    font-size: 18px;
}

.nav-links a:hover {
    color: white;
}