* {
  padding: 0px;
  margin: 0px;
}

section {
  border-bottom: 0.2px solid grey;
}

html {
  scroll-behavior: smooth;
}

Footer {
  background-color: black;
  height: 10vh;
  color: #909090;
  line-height: 10vh;
  text-align: center;
}